.input-group {
    position: relative;
    width: 100%;
}

.input-wrapper {
    position: relative;
}

.input-field {
    width: 100%;
    max-width: 40vw;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--text);
    font-size: 1rem;
    outline: none;
    position: relative;
    z-index: 2;
}

.input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #00bfa5, #4caf50);
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.input-field:focus + .input-underline {
    transform: scaleX(1);
}
.checkboxesTask, .actionsTask {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}