.tag {
    max-height: 30px;
    color: var(--button-text);
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
}

.tag.important {
    background-color: var(--warning);
}

.tag.completed {
    background-color: var(--success);
}