/* 💻 Tablet landscape / small laptop (835–1280px) */
@media screen and (min-width: 835px) and (max-width: 1280px) {
    .optionsNav {
        gap: 30px;
    }

    .search input {
        width: 220px;
    }

    .task {
        font-size: 0.95rem;
    }
    .date-popup {
        left: -30%;
    }
}